body {
    background: rgb(249, 206, 244);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    color:rgb(129, 81, 123);
}
p {
    margin: 50px;
}