body {
    background: rgb(98, 88, 157);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    color:rgb(28, 19, 78);
}
p {
    margin: 50px;
}