body {
    background: rgb(120, 205, 164);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    color:rgb(29, 82, 56);
}
p {
    margin: 50px;
}