body {
    background: rgb(174, 172, 247)url('img/sitebackground.jpg');
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    color:rgb(91, 89, 158);
    font-size: 150%;
}
h2 {
    font-family:cursive
}
.textbox {
        width:550px;
        height:700px;
        position:fixed;
        left: 570px;
        top: 20px;
    }
h1 {
    animation: float 3s infinite alternate ease-out ;
}
@keyframes float {
    0% {
        transform: translateY(15px);
    }
    100% {
        transform: translateY(-15px);
    }
}